* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -web-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

button,
label,
select,
input {
  all: unset;
}

button {
  font-weight: 700;
  background-color: #6246ea;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: white;
  line-height: 2.4rem;
}

i {
  color: #e45858;
  font-size: 2.4rem;
}

button:hover {
  background-color: #4246ea;
  transform: scale(1.03);
}

body {
  font-size: 1.6rem;
}

header {
  min-height: 53.2rem;
  background-color: #f8f8ff;
  position: relative;
  overflow: hidden;

  display: grid;
  place-content: center;
}

header::before {
  content: "";
  background-image: url(./assets/header-before.svg);
  width: 40.7rem;
  height: 34.5rem;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

header::after {
  content: "";
  background-image: url(./assets/header-after.svg);
  width: 41.4rem;
  height: 33rem;
  position: absolute;
  right: 0;
  bottom: -1.2rem;
}

header > .content {
  width: fit-content;
  position: relative;
  z-index: 1;
  margin: auto;
  display: grid;
  gap: 4rem;
}

header .content .top {
  text-align: center;
}

header p {
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.6rem;
  color: #e45858;
  text-transform: uppercase;
}

header h1 {
  font-size: 4.8rem;
  color: #121214;
  line-height: 125%;
  color: #121214;
  max-width: 64.7rem;
  margin: 1.8rem auto 0;
}

header span {
  color: #6246ea;
}

header form {
  display: flex;
  padding: 4rem;
  gap: 24px;

  background: #ffffff;
  border: 0.1rem solid #eaeaea;
  border-radius: 10px;
}

input,
select {
  font-weight: 400;
  font-size: 1.6rem;
  color: #7c7c8a;
  min-width: 29rem;
}

select{ 
  cursor: pointer;
}

.search-field,
.search-field.selected {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background-color: #f4f4ff;
  padding: 1.2rem 0.8rem 1.2rem 1.4rem;
  border-radius: 0.5rem;
}

select,
.selected {
  position: relative;
}

select {
  z-index: 1;
}

.selected .ph-caret-down-light {
  color: #858793;
  position: absolute;
  right: 1rem;
  z-index: 0;
}

form button {
  padding: 1.2rem 3.2rem;
  border-radius: 0.5rem;
  transition: background 200m;
}

main .content {
  max-width: 121.6rem;
  margin: 10rem auto;
}

section.top {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

section.top h2 {
  font-weight: 700;
  font-size: 3.2rem; 
}
.card .content-main {
  display: grid;
  gap: 1.6rem;

  padding: 1.6rem;
}
.view {
  display: flex;
  border: 0.1rem solid #eaeaea;
  border-radius: 0.6rem;
  padding: 0.8rem;
}

.view > button {
  border-radius: 0.5rem;
  padding: 0.4rem 2.4rem;
}

button#btn-not-selected {
  background-color: transparent;
  color: #6246ea;
}

button#btn-not-selected:hover {
  background-color: #e3e3ff;
  color: #6246ea;
  text-align: center;
}

section.cards {
  margin: 4rem;
  gap: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  max-width: 38.4rem; 
  max-height: 3 0.3rem;
  overflow: hidden; 
  border: 0.2rem solid #d3d3d3;
  border-radius: 1rem;
}

.card:hover{
  transform: scale(1.05);
  background-color: #f8f8ff;; 
  cursor: pointer;
} 
.content-main h3 {
  color: #121214;
  font-size: 2rem;
}

.content-main {
  display: grid;
  padding: 1.6rem;
  gap: 1.6rem;
}

.content-main p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;

  align-items: center;
  color: rgba(0, 0, 0, 0.75);
}
.location {  
  font-size: 2.4rem;
  text-align: center;
  gap: 1.25rem;
  display: flex; 
}

footer {
  min-height: 7rem;
  padding: 2.5rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #e8e5f0;
  display: grid;
  place-content: center;
  background-color: #6246ea;
  bottom: 0;
  left: 0; 
}

footer h2{
  z-index: 1;
}

footer::before {
  content: "";
  background-image: url(./assets/header-before.svg);
  width: 40.7rem;
  height: 7.87rem;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

/*responsiveness*/
main {
  padding-inline: 4rem;
}

@media (max-width: 1024px) {
  :root {
    font-size: 50%;
  }

  header::before {
    background-size: 30vw;
    background-repeat: no-repeat;
  }
}

@media (max-width: 870px) {
  header .content {
    padding: 4rem;
  }

  header form {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  section.top {
    width: 50%; 
  }
}

@media (max-width: 660px) {
  section.cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  section.cards {
    grid-template-columns: 1fr;
  } 

  .card img {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  section.cards {
    grid-template-columns: 1fr;
  }

  .card img {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }
  
  .view{
    height: 50%;
  }
}
 
